#disable_html_escaping()
$webResourceManager.requireResource("ru.andreymarkelov.atlas.plugins.copy-to-clipboard:copy-to-clipboard-resources")
#if ($value)
    #if ($excelView)
    $textutils.br($textutils.htmlEncode(${value}, false))
    #else
    <button class="aui-button copy-to-clipboard" data-clipboard-text="$!{value}" title="Copied!">
        <span class="aui-icon aui-icon-small aui-iconfont-copy">Copy </span>$!{copytext}
    </button>
    #end
#end