<style type="text/css">
.copy_div {
    text-align:center;
    border:1px solid black;
    background-color:#ccc;
    width: 15px;
    margin:1px; padding:1px;
}
.copy_div.hover {
    background-color:#eee;
}
.copy_div.active {
    background-color:#aaa;
}
</style>

<script type="text/javascript" src="$requestContext.baseUrl/download/resources/ru.mail.plugins.clipcopier.copy-to-clipboard/zeroclipboard.js"></script>
<script type="text/javascript" src="$requestContext.baseUrl/download/resources/ru.mail.plugins.clipcopier.copy-to-clipboard/main.js"></script>

#if ($value)
    <div class="copy_div" id="copy_div_$issue_id" onclick="alert('Copied text to clipboard:\n' + '$value');">&copy;</div>

    <script language="javascript">
        store_issue('$issue_id', '$value');
    </script>
#end
